.container {
  width: 100%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  text-align: center;
}

.input_container {
  margin-bottom: 50px;
  display: flex;
  gap: 100px;
}

.input {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input > label {
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 1.25rem;
}

.submit_btn {
  font-size: 1.25rem;
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 50px;
  }
  .input_container {
    flex-direction: column;
    gap: 20px;
  }
  .input {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
}
