* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
  min-height: 100vh;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 14px;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  font-size: 12px;
  padding: 0 3px;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
}

button:hover {
  scale: 1.1;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}
